# Quizz 1 - Python basics

## a) type

### Create a variable 'string' containing "toto" and a variable 'number' containing the number 10.

In [1]:
strng="toto"
num=10

### Convert 'string' to unicode and 'number' in float

In [6]:
con_str=(strng,"utf-8")
float_num=float(num)

('toto', 'utf-8')

### Reverse the contents of the variables 'string' and 'number' (in 1 line).

In [16]:
str_rev=strng[::-1]
num_rev=int(str(num)[::-1])
print(num_rev)

1

## b) List

### Create a list `A`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [17]:
A=[1,3,2,7,4,10,46]


### Display the first 3 items in list `A` - in one line of code

In [18]:
print(A[0:3])

[1, 3, 2]

### Create a list `B` that contains only the 3rd, 4th and 5th elements of `A` . Your line of code should only contain 8 characters (not including spaces) - Check your result carefully!

In [22]:
B=A[3:6]
print(B)

[7, 4, 10]

### Concatenate lists `A` and `B` to form list `C`.

In [23]:
C=A+B
print(C)

[1, 3, 2, 7, 4, 10, 46, 7, 4, 10]

### Using the zip function, associate the values of `A` and `B` in the variable `D`

In [25]:
D=zip(A,B)
print(list(D))

[(1, 7), (3, 4), (2, 10)]

### Add the number 5 to list `A`

In [26]:
A.append(5)
print(A)

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to the `C` list

In [33]:
C.append('null')
print(C)

[1, 3, 2, 7, 4, 10, 46, 7, 4, 10, '', '', '', 'null']

### Write a function that takes as arguments a list 'lst' and an integer 'n' and returns the result of n concatenations of 'lst' with itself (e.g. lst=[1,2,3], n=2 --> [1,2,3,1,2,3]).

In [37]:
def conc(lst,n):
    lst=lst*n
    print(lst)
conc([1,2,3],2)

[1, 2, 3, 1, 2, 3]

### You want to make parameter 'n' optional and set its value to 2 by default. How do you do it?

In [39]:
def conc(lst,n=2):
    lst=lst*n
    print(lst)
conc([1,2,3])

[1, 2, 3, 1, 2, 3]

###  With a 'while' loop, print each element of the `C` list up to the `null` element.

In [43]:
i=0
while i<len(C):
    print(C[i])
    i=i+1

1
3
2
7
4
10
46
7
4
10



null

### Calculate, with a 'for' loop, the number of even integers present in the list A

In [44]:
count=0
for i in A:
    if i%2==0:
        count+=1
print(count)

4

### Rewrite the following expression with a multi-line 'for' loop

In [45]:
C = [element for element in A if element %2 == 0]

In [47]:
for element in A:
    if element%2==0:
        print(element)

2
4
10
46

### Create a function that takes a string as input and returns the first single letter of the string

In [49]:
def strng(st):
    lst=[]
    for i in st:
        lst.append(i)
    print(lst[0])    
strng("Manasa")

M

## c) Dictionaries

### Create a car dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [50]:
car={"brand":"Ford","model":"Mustang","year":1964}

### Access to the "year" value

In [51]:
print(car["year"])

1964

###  Use a loop to display all the dictionary keys

In [55]:
for i in car:
    print(i)

brand
model
year

###  Use a loop to display all the dictionary value

In [58]:
for i in car:
    print(car[i])

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (enumerate function).

In [74]:
for ind,i in enumerate(car):
    print(car,ind)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964} 0
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964} 1
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964} 2

### With the help of a comprehension dictionary create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### exemple de dictionnaire comprehension :
```
dict = {key:value for key, value in list_1, list_2}
```

In [79]:
list1=["cle_1","cle_2","cle_3"]
list2=["dictionary 'car'","dictionary 'car'","dictionary 'car'"]
dict1={key:value for key , value in zip(list1,list2) }
print(dict1)

{'cle_1': "dictionary 'car'", 'cle_2': "dictionary 'car'", 'cle_3': "dictionary 'car'"}

## d) Functions

### Create a fibonacci function (fibonacci sequence: 0 1 1 2 3 5 8 13 ...)
Ex : ``fibonacci(13) return [0,1,1,2,3,5,8,13]``

In [1]:
def fibonacci(num):
    a=0
    b=1
    i=0
    lst=[]
    tot=num
    lst.append(a)
    lst.append(b)

    while i<num:
        c=a+b
        a=b
        b=c
        lst.append(c)
        if c==tot:
            break
        i+=1
    print(lst)     
        
fibonacci(13)

[0, 1, 1, 2, 3, 5, 8, 13]

### Execute your function (fibonacci(100) must be executed in less than 1 second)

In [122]:
def fibonacci(num):
    a,b=0,1
    i=0
    for i in range(2,num+1):
        c=a+b
        
        a=b
        b=c
        i+=2
    return c    
print(fibonacci(100))

354224848179261915075

### Create a fibonacci function using a generator
Ex : ``generate_fibonacci(10) return 55``

In [120]:
def generate_fibonacci(num):
    a,b=0,1
    i=0
    for i in range(2,num+1):
        c=a+b
        
        a=b
        b=c
        i+=2
    print(c)    
generate_fibonacci(10)

55